BOT_TOKEN=your_telegram_bot_token
MONGODB_URI=your_mongodb_atlas_connection_string
BOT_USERNAME=new_bot_username
BOT_LINK=
ADMIN_USERNAME=@habibullayev_28
ADMIN_TG_ID=7669387254
BOT_TIMEZONE=Asia/Tashkent
PORT=3000
YOUTUBE_API_KEY=your_youtube_data_api_key
